replicaCount: 1

# Optional overrides
nameOverride: ""
fullnameOverride: ""

image:
  repository: ai-sentiment
  pullPolicy: Never
  tag: "local"

service:
  type: NodePort
  port: 80
  nodePort: 30080

resources: {}

livenessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 2
  periodSeconds: 5
